:root {
    --bg-primary: #fdfdfd;
    --bg-surface: #ffffff;
    --border-color: #f1f3f6;

    --text-primary: #222831;
    --text-secondary: #8a9099;

    --radius: 14px;
    --transition: 200ms ease;
}

[data-theme='dark'] {
    --bg-primary: #181a1f;
    --bg-surface: #22252c;
    --border-color: #2e323a;

    --text-primary: #f0f2f5;
    --text-secondary: #a1a7b0;
}
